In [5]:
import mysql.connector as connection
try:
    mydb=connection.connect(host="localhost",user="root",passwd="Ritus3459",use_pure=True)
    print(mydb.is_connected())
    query="create database organisation"
    cursor=mydb.cursor()
    cursor.execute(query)
    print("database created")
    mydb.close()
    
except Exception as e:
    mydb.close
    print(str(e))

True
database created

In [13]:
import mysql.connector as connection
try:
    mydb=connection.connect(host="localhost",user="root",passwd="Ritus3459",use_pure=True)
    print(mydb.is_connected())
    query="create table organisation.Worker(Worker_Id INT(10) AUTO_INCREMENT PRIMARY KEY,FIRST_NAME VARCHAR(25),LAST_NAME VARCHAR(25),"\
    "SALARY INT(15),JOINING_DATE DATE,DEPARTMENT VARCHAR(25))"
    cursor=mydb.cursor()
    cursor.execute(query)
    print("table created")
    mydb.close()
    
except Exception as e:
    mydb.close
    print(str(e))

True
1050 (42S01): Table 'worker' already exists

In [17]:
import mysql.connector as connection
try:
    mydb=connection.connect(host="localhost",database="organisation",user="root",passwd="Ritus3459",use_pure=True)
    print(mydb.is_connected())
    cursor=mydb.cursor()
    cursor.execute("insert into Worker values (001, 'NIHARIKA', 'ARORA', 20000, '2013-02-25', 'HR')")
    cursor.execute("insert into Worker values (002, 'AYUSHI', 'GURONDIA', 5000, '2015-02-10', 'ADMIN')")
    cursor.execute("insert into Worker values (003, 'PRIYANSHA', 'CHOUKSEY',25000,'2014-05-16', 'HR')")
    cursor.execute("insert into Worker values (004, 'APARNA', 'DESHPANDE', 8000, '2016-12-20', 'ADMIN')")
    cursor.execute("insert into Worker values (005, 'SHAFALI', 'JAIN', 21000, '2015-08-29', 'ADMIN')")
    cursor.execute("insert into Worker values (006, 'SUCHITA', 'JOSHI', 20000, '2017-02-12', 'ACCOUNT')")
    cursor.execute("insert into Worker values (007, 'SHUBHI', 'MISHRA', 15000, '2018-03-23', 'ADMIN')") 
    cursor.execute("insert into Worker values (008, 'DEVYANI', 'PATIDAR', 18000, '2014-05-02','ACCOUNT')")               

    print("values inserted inside table")
    mydb.commit()
    mydb.close()
    
except Exception as e:
    mydb.close
    print(str(e))

True
values inserted inside table

### Q-1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias name as &lt;WORKER_NAME&gt;.

In [24]:
import mysql.connector as connection
mydb=connection.connect(host="localhost",database="organisation",user="root",passwd="Ritus3459",use_pure=True)
cursor=mydb.cursor()
cursor.execute("select FIRST_NAME from Worker as Worker_name  ")

In [25]:
for i in cursor.fetchall():
    print(i)

('NIHARIKA',)
('AYUSHI',)
('PRIYANSHA',)
('APARNA',)
('SHAFALI',)
('SUCHITA',)
('SHUBHI',)
('DEVYANI',)

In [ ]:
#IN SQL
Select FIRST_NAME AS WORKER_NAME from Worker

### Q-2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table.

In [26]:
import mysql.connector as connection
mydb=connection.connect(host="localhost",database="organisation",user="root",passwd="Ritus3459",use_pure=True)
cursor=mydb.cursor()
cursor.execute("select DEPARTMENT from Worker ")
for i in cursor.fetchall():
    print(i)

('HR',)
('ADMIN',)
('HR',)
('ADMIN',)
('ADMIN',)
('ACCOUNT',)
('ADMIN',)
('ACCOUNT',)

In [ ]:
#IN SQL
Select Distinct DEPARTMENT from Worker

### Q-3. Write an SQL query to show the last 5 record from a table.

In [56]:
import mysql.connector as connection
mydb=connection.connect(host="localhost",database="organisation",user="root",passwd="Ritus3459",use_pure=True)
cursor=mydb.cursor()
cursor.execute("select * from Worker ")
#for i in cursor.fetchall():
    #print(i)

In [57]:
records=cursor.fetchall()
records[3:]

[(4, 'APARNA', 'DESHPANDE', 8000, datetime.date(2016, 12, 20), 'ADMIN'),
 (5, 'SHAFALI', 'JAIN', 21000, datetime.date(2015, 8, 29), 'ADMIN'),
 (6, 'SUCHITA', 'JOSHI', 20000, datetime.date(2017, 2, 12), 'ACCOUNT'),
 (7, 'SHUBHI', 'MISHRA', 15000, datetime.date(2018, 3, 23), 'ADMIN'),
 (8, 'DEVYANI', 'PATIDAR', 18000, datetime.date(2014, 5, 2), 'ACCOUNT')]

In [ ]:
# IN SQL
SELECT TOP 5 * FROM Worker ORDER BY Worker_Id DESC